extends layout

block content
  form(method="POST" action="/mahasiswa")
    .container.mx-auto.mt-5
      .header
        .flex.justify-between.items-center.mb-3.px-2.py-2
          h1.text-xl.font-bold Tambah Mahasiswa
          a(href="#").text-white Dashboard/Admin
        hr
      .table-container.mt-4
        .flex.justify-between.items-center.mb-3.bg-blue-950.px-2.py-2.rounded
          h1.text-white.text-xl.font-bold Edit
      .px-2.py-2.bg-blue-950.rounded-lg
        .flex.justify-between.items-center.mb-3.bg-blue-950.px-2.py-2
          label.text-white.mr-10 NIM:
          input#nim.w-full.ml-10.rounded.px-2.py-2(type="text" placeholder="NIM" style="width:50%" name="nim")
        .flex.justify-between.items-center.mb-3.bg-blue-950.px-2.py-2
          label.text-white.mr-10 Nama:
          input#nama.w-full.ml-10.rounded.px-2.py-2(type="text" placeholder="Nama" style="width:50%" name="nama")
        .flex.justify-between.items-center.mb-3.bg-blue-950.px-2.py-2
          label.text-white.mr-10 Status Pendaftaran:
          input#status_pendaftaran.w-full.ml-10.rounded.px-2.py-2(type="text" placeholder="Status Pendaftaran" style="width:50%" name="status_pendaftaran")
        .flex.justify-between.items-center.mb-3.bg-blue-950.px-2.py-2
          label.text-white.mr-10 Nilai:
          input#nilai.w-full.ml-10.rounded.px-2.py-2(type="text" placeholder="Nilai" style="width:50%" name="nilai")
        .flex.justify-between.items-center.mb-3.bg-blue-950.px-2.py-2
          label.text-white.mr-10 Daftar Nilai:
          input#daftar_nilai.w-full.ml-10.rounded.px-2.py-2(type="number" placeholder="Daftar Nilai" style="width:50%" name="daftar_nilai")
    .container.mx-auto.mt-5 
        button.bg-blue-950.text-white.px-4.py-2.rounded.mt-4(type="submit") Tambah
        button.bg-blue-950.text-white.px-4.py-2.rounded.mt-4.mx-5(type="submit") Hapus
        button.bg-blue-950.text-white.px-4.py-2.rounded.mt-4.mx-5(type="submit") Selesai
