html(lang='en')
  head
    meta(charset='UTF-8')
    title Login
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.1/tailwind.min.css')
  body(class='flex flex-col items-center justify-center w-screen h-screen bg-gray-200 text-gray-700')
    h1(class='font-bold text-2xl') EduSkor
    form(id='loginForm' class='flex flex-col bg-white rounded shadow-lg p-12 mt-12' method='POST' action='/login')
      if error
        div(class='bg-red-200 text-red-700 px-4 py-2 rounded mb-4')= error
      label(class='font-semibold text-xs' for='usernameField') Username
      input(id='usernameField' class='flex items-center h-12 px-4 w-64 bg-gray-200 mt-2 rounded focus:outline-none focus:ring-2' type='text' name='username')
      label(class='font-semibold text-xs mt-3' for='passwordField') Password
      input(id='passwordField' class='flex items-center h-12 px-4 w-64 bg-gray-200 mt-2 rounded focus:outline-none focus:ring-2' type='password' name='password')
      button(id='loginButton' class='flex items-center justify-center h-12 px-6 w-64 bg-green-600 mt-8 rounded font-semibold text-sm text-blue-100 hover:bg-blue-700' type='submit') Login
      div(class='flex mt-6 justify-center text-xs')
