doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/daisyui@4.11.1/dist/full.min.css")
        script(src="https://cdn.tailwindcss.com")
        title Home
    body 
    <div class='container-none mx-auto'>  
    <div class="navbar shadow-xl bg-base-100">
        <div class="drawer">
        <input id="my-drawer" type="checkbox" class="drawer-toggle"/>
        <div class="flex flex-row drawer-content">
            <label for="my-drawer" class="btn btn-square btn-ghost">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="inline-block w-5 h-5 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
            </label>

            <div class="flex-2">
                <button id='eduskor' class="btn btn-ghost text-xl">Eduskor</button>
            </div>
        </div>

        <div class="drawer-side">
            <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
            <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content">
            <a class='ml-3 mb-2 font-bold text-3xl'>Eduskor</a>
            <li><a>Sidebar Item 1</a></li>
            <li><a>Sidebar Item 2</a></li>
            </ul>
        </div>
    </div>

    <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
            <div class="w-10 rounded-full">
            <img alt="Tailwind CSS Navbar component" src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
            </div>
        </div>

        <ul tabindex="0" class="z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52">
            <li><button id="profileButton">Profil</button></li>
            <li><button id="changePasswordButton">Ubah Password</button></li>
            <li><button id="logoutButton">Logout</button></li>
        </ul>
    </div>
    </div>

    <div class="container mx-auto max-w-2xl p-4">
        <div class="flex items-center justify-center">
            <div class="w-48 h-48 rounded-full overflow-hidden">
            <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" alt="Profile picture" class="w-full h-full object-cover">
            </div>
        </div>

        <div class="mt-6 text-center">
            <h3 class="text-3xl font-bold text-white-800">John Doe</h3>
            <p class="text-gray-500">Admin</p>
        </div>

        <div class="mt-4">
            <ul class="list-none p-0">
            <li class="flex items-center justify-between">
                <span class="text-white-700">Username :</span>
                <span class="text-gray-500">admin</span>
            </li>
            <li class="mt-2 flex items-center justify-between">
                <span class="text-white-700">Email :</span>
                <span class="text-gray-500">admin@admin.com</span>
            </li>
            <li class="mt-2 flex items-center justify-between">
                <span class="text-white-700">Lokasi :</span>
                <span class="text-gray-500">Padang, Indonesia</span>
            </li>
            </ul>
        </div>
        <div class="mt-10 text-center">
            <a href="#" class="px-4 py-2 rounded-md bg-blue-500 text-white font-bold hover:bg-blue-700">Ubah Profil</a>
        </div>
    </div>